<div id="main-container">
    <div id="toolbox-container">
        <h2>Toolbox</h2>
        <hr>
        <fa-icon (click)="minifiedChartChoicesContainerTrigger()" [icon]="minifiedChartChoicesTriggerIcon" style="float: right;">
        </fa-icon>
        <div [ngClass]="{'minified-chart-choices-container': showMinifiedChartChoicesContainer }"
            class="chart-choices-container row">
            <div *ngFor="let chart of chartChoices" (click)="addChart(chart)"
                [ngClass]="showMinifiedChartChoicesContainer ? 'col-md-3' : 'col-md-4' " class="chart-choices"
                [isDisabled]="!showMinifiedChartChoicesContainer" placement="left" [tooltip]="chart.name">
                <fa-icon [icon]="chart.icon" size="2x"></fa-icon>
                <span *ngIf="!showMinifiedChartChoicesContainer" [class]="chart.class"> {{ chart.name }} </span>
            </div>
            <ng-template #minifiedChartChoices>
                <div (click)="addChart(choice)" *ngFor="let choice of chartChoices" class="col-md-3 chart-choices">
                    <fa-icon [icon]="choice.icon" size="2x"></fa-icon>
                </div>
            </ng-template>
        </div>
        <div *ngIf="currentlySelectedChart">
            <app-chart-settings-form [chart]="currentlySelectedChart" (updatedChartData)="setUpdatedChartData($event)">
            </app-chart-settings-form>
        </div>
    </div>
    <div id="dashboard-container">
        <gridster [options]="gridsterOptions">
            <gridster-item *ngFor="let item of chartLayout" [item]="item">
                <ng-container [ngSwitch]="item.chartValues.chartType">
                    <ng-container *ngSwitchCase="'bar'">
                        <app-vertical-bar-chart [chartValues]="item.chartValues" [id]="item.id"
                            (setSelectedChartId)="setSelectedChart($event)"></app-vertical-bar-chart>
                    </ng-container>
                    <ng-container *ngSwitchCase="'doughnut'">
                        <app-doughnut-chart [chartValues]="item.chartValues" [id]="item.id"
                            (setSelectedChartId)="setSelectedChart($event)"></app-doughnut-chart>
                    </ng-container>
                    <ng-container *ngSwitchCase="'line'">
                        <app-line-chart [chartValues]="item.chartValues" [id]="item.id"
                            (setSelectedChartId)="setSelectedChart($event)"></app-line-chart>
                    </ng-container>
                    <ng-container *ngSwitchCase="'pie'">
                        <app-pie-chart [chartValues]="item.chartValues" [id]="item.id"
                            (setSelectedChartId)="setSelectedChart($event)"></app-pie-chart>
                    </ng-container>
                </ng-container>
            </gridster-item>
        </gridster>
    </div>
</div>