#autocomplete-container {
    background: #f4f4f4;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    color: black;
    margin-top: 5px;
    max-height: 350px;
    overflow-y: auto;
    padding: 16px;
    z-index: 2;
}