<div id="chart-settings-form-container">
    <h4>{{ chartName }} </h4>
    <div>
        <tabset>
            <tab heading="Data" id="tab1">
                <ng-container *ngTemplateOutlet="chartDataForm"></ng-container>
            </tab>
            <tab heading="Style">
                <ng-container *ngTemplateOutlet="chartStyleForm"></ng-container>
            </tab>
        </tabset>
    </div>
</div>

<ng-template #chartDataForm>
    <form [formGroup]="chartSettingsForm">
        <div class="row">
            <label for="name">Name:</label>
            <div class="input-group input-group-sm col-md-12">
                <input class="form-control" formControlName="name" id="name" type="text">
            </div>
        </div>
        <div class="row">
            <label for="data-source">Data Source:</label>
            <div class="input-group input-group-sm col-md-12">
                <input (change)="getCSVData($event)" accept=".csv" class="form-control" formControlName="dataSource"
                    id="data-source" style="padding: 2px;" type="file">
            </div>
        </div>
        <ng-container *ngIf="csvFields.length > 0">
            <div class="row">
                <label for="data-source">Field:</label>
                <div class="input-group input-group-sm col-md-12">
                    <app-autocomplete #autoComplete [autoCompleteItems]="csvFields" [currentValue]="selectedField" (selectedValue)="buildChartDataSet($event)">
                    </app-autocomplete>
                </div>
            </div>
            <div *ngIf="chartTypeHasMultiDataset" class="row">
                <label for="data-source">Dimension:</label>
                <div class="input-group input-group-sm col-md-12">
                    <app-autocomplete #autoComplete [autoCompleteItems]="chartDimension" [currentValue]="selectedDimension" (selectedValue)="buildChartWithMultiDataset($event)">
                    </app-autocomplete>
                </div>
            </div>
        </ng-container>
    </form>
</ng-template>

<ng-template #chartStyleForm>
    <form [formGroup]="chartSettingsForm">
        <div class="row">
            <label for="name">Data Color:</label>
            <div class="input-group input-group-sm col-md-12">
                <select (change)="setSelectedChartSeries($event.target.value)" class="form-control">
                    <option value="">Datasets</option>
                    <option *ngFor="let item of chartValues" [value]="stringify(item)">
                        {{ item.label }}
                    </option>
                </select>
            </div>
            <div class="input-group input-group-sm col-md-12" style="margin-top: 10px;">
                <input [(colorPicker)]="colorPickerValue" [cpCancelButton]="true" [cpOKButton]="true"
                    [cpSaveClickOutside]="false" [cpPosition]="'top'" [value]="colorPickerValue ? colorPickerValue : ''"
                    [style.background]="colorPickerValue" (colorPickerSelect)="setChartColor($event)" />
            </div>
        </div>
    </form>
</ng-template>