@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    background: #eaeaec;
    margin: 0;
}

.chart-container {
    align-items: stretch;
    border: 1px solid #e6e6e6;
    display: flex;
    height: 100%;
    width: 100;
    min-height: 100px;
}